.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#fermer {
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 0.7rem;
}

.modal {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  animation: pop 0.3s ease;
}

.modal h2 {
  margin-top: 0;
  color: #00;
}

.hidden {
  display: none;
}

@keyframes pop {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}


h1{
    color: #2c3e50;
    font-family: 'Audiowide', sans-serif;
    text-align: center;
    margin-top: 50px;
    font-size: 5rem;
}

body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

select, input[type="number"], input[type="checkbox"], input[type="text"], input[type="date"], input[type="number"], input[type="email"] {
    margin: 10px 0;
    padding: 8px;
    font-size: 1rem;
    width: 200px;
    border-radius: 10px;
    border: 2px solid #000000;
}

#cgv-div {
    display: flex;
    width: justify-content;
}

#cgv {
    width: 20px;
    margin: 0;
    margin-right: 10px;
}

#cgv_label {
    font-size: 1rem;
}

#retour {
    background-color: #007bff;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 20px;
    width: 50%;
}

#retour:hover {
    background-color: #0056b3;
}

#order {
    background-color: #007bff;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}

#order:hover {
    background-color: #0056b3;
}

#prix {
    font-size: 1.3rem;
    font-weight: bold;
    color: #27ae60;
    margin: 20px 0;
}

#submit {
    background-color: #007bff;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}

#submit:hover {
    background-color: #0056b3;
}

#submit:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#payment-element {
    margin: 20px 0;
}

#payment-message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

#payment-message.hidden {
    display: none;
}

#payment-message:not(.hidden) {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}




